#board{
    height:100vh;
}
.cell{
    height: 6vw;
    width: 8vw;
    border: 1px solid black;
    padding-top:0;
}
.piece {
    height: 6vw;
    width:6vw;
    border: 1px solid black;
    border-radius: 100%;
    margin:auto;
    position: relative;
    /*background-color: yellow;*/
}
img{
    height: 4vw;
    width: 5vw;
    top: 15%;
    left: 6%;
    position: relative;
    color:lightgrey;
    display:block;
}
.black{
    background-color: black;
}
.white{
    background-color:white;
}
.highlight{
    background-color:gray;
}
.highlight.hovered{
    background-color:darkseagreen;
}
#draggableHelper {
    opacity: .7;
    background: orange;
}